<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      background-image: url("../../assets/school.jpg");
      background-size: cover;
  }
  .container {
    max-width: 80px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    position: relative;
    top: -1000px;
}
h1 {
  font-size: 3rem;
  margin-bottom: 390px;
  position: relative;
  top: 50px;
  font-style: oblique;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  color:white;
  position: relative;
  top: -300px;
  font-style: italic;
}

  </style>
    <meta charset="UTF-8">
    <title>My School</title>
    <link rel="styleesheet" type="text/css" href="../home/home.component.css">
</head>
<body>
    <h1>Welcome to My School</h1>
    <p>My School is a wonderful place to learn and grow. We have dedicated teachers, a supportive community, and a wide range of extracurricular activities.</p>
</body>
</html>
